In [1]:
import pandas as pd
import sqlite3
import pickle

In [2]:
with sqlite3.connect('data/F0/focus_batch_0.db') as con:
        query = 'select event_id from meta_table'
        df = pd.read_sql(query,con)

In [3]:
l1 = df.event_id.to_list()

In [4]:
del df

In [5]:
with open('focus_dict.pkl', 'rb') as f:
    focus_dict = pickle.load(f)

In [6]:
l2 = focus_dict['f0']

In [7]:
del focus_dict

In [8]:
len(l1), len(l2)

(30376241, 30832691)

In [9]:
l3 = set(l2) - set(l1)

In [10]:
df_meta = pd.read_parquet('data/train_meta.parquet')

In [11]:
df_meta[df_meta.event_id.isin(l3)]

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
130000002,651,2115745873,122,176,3.483285,1.159110
130000007,651,2115746003,404,443,4.568302,1.842410
130000010,651,2115746028,563,612,5.933128,2.940941
130000011,651,2115746032,613,656,4.724607,1.353571
130000017,651,2115746141,1077,1118,4.312242,1.404383
...,...,...,...,...,...,...
131953905,660,2147483313,24337055,24337127,2.973487,1.233072
131953907,660,2147483359,24337238,24338454,5.111282,0.388220
131953911,660,2147483432,24338668,24338729,4.141418,1.130907
131953912,660,2147483457,24338730,24338785,2.571631,1.060860
131953915,660,2147483544,24338913,24339028,5.312884,2.207963

In [13]:
df_meta[(df_meta.batch_id > 650) & (df_meta.event_id.isin(l2))]

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
130000002,651,2115745873,122,176,3.483285,1.159110
130000007,651,2115746003,404,443,4.568302,1.842410
130000010,651,2115746028,563,612,5.933128,2.940941
130000011,651,2115746032,613,656,4.724607,1.353571
130000017,651,2115746141,1077,1118,4.312242,1.404383
...,...,...,...,...,...,...
131953905,660,2147483313,24337055,24337127,2.973487,1.233072
131953907,660,2147483359,24337238,24338454,5.111282,0.388220
131953911,660,2147483432,24338668,24338729,4.141418,1.130907
131953912,660,2147483457,24338730,24338785,2.571631,1.060860
131953915,660,2147483544,24338913,24339028,5.312884,2.207963