In [2]:
import pandas as pd
import sqlite3

In [16]:
with sqlite3.connect('data/F0/focus_batch_0.db') as con:
        query = 'select DISTINCT(event_id) from pulse_table LIMIT 300000'
        pulse_df = pd.read_sql(query,con)

In [17]:
pulse_df

        event_id
0            140
1            410
2            422
3            472
4            595
...          ...
299995  22699043
299996  22699098
299997  22699101
299998  22699136
299999  22699229

[300000 rows x 1 columns]

In [14]:
with sqlite3.connect('data/F0/focus_batch_0.db') as con:
        query = 'select * from meta_table LIMIT 300000'
        meta_df = pd.read_sql(query,con)

In [15]:
meta_df

,batch_id,event_id,first_pulse_index,last_pulse_index,azimuth,zenith
0,1,140,847,938,4.486290,1.655948
1,1,410,1549,1597,5.367438,0.862134
2,1,422,1598,1639,5.706176,0.834678
3,1,472,2134,2186,1.547973,1.420000
4,1,595,2315,2423,3.109844,0.612467
...,...,...,...,...,...,...
299995,7,22699043,31940425,31940554,1.300238,0.425394
299996,7,22699098,31940708,31941108,2.155765,1.126983
299997,7,22699101,31941109,31941181,3.714110,0.451993
299998,7,22699136,31941939,31941985,3.967260,1.019616
299999,7,22699229,31942433,31942482,3.495488,0.484282

In [19]:
pulse_df.event_id.to_list() == meta_df.event_id.to_list()

True